# Collocations and concordances for newspapers

In [8]:
import dhlab.nbtext as nb
import dhlab.module_update as mu
mu.update('collocations')
from collocations import dist_coll_urn
import pandas as pd

Updated file `D:\Documents\GitHub\newspapers_coll_conc\collocations.py`

In [2]:
tot = nb.frame(nb.totals(50000), 'tot')

In [4]:
corpus = nb.book_corpus(ddk="813%", period=(1980, 2000), limit = 400)

In [5]:
corpus

               urn             author                title  year
0    2009012004002         Liu, Aimee           Skyfjellet  1997
1    2010112308058      Dailey, Janet          Ukjent venn  1990
2    2012091908131   Millar, Margaret  Gå hjem, lille pike  1989
3    2007112900043  Faulkner, William         Dødens dager  1992
4    2014051908001     Litton, Pamela     På ørnens vinger  1993
..             ...                ...                  ...   ...
395  2014080108013     Dalton, Margot      Sann kjærlighet  1993
396  2010032503002    Palmer, Michael   Behandlet til døde  1999
397  2007110901010         Baer, Judy     Lexi får trøbbel  1992
398  2015111807510         McBain, Ed   Døden narrer april  1989
399  2013072308126        Korda, Reva        Drømmenes mål  1992

[400 rows x 4 columns]

In [29]:
smd = 2.5
lmd = 5

In [13]:
a1 = dist_coll_urn('spise', urns=list(corpus.urn), after=5, before = 0)
a2 = dist_coll_urn('spise', urns=list(corpus.urn), after=10, before = 0)

In [30]:
a1['ascore'] = smd/a1.score
a2['ascore'] = lmd/a2.score

In [23]:
coll = pd.DataFrame()
coll['small'] = a1['freq']
coll['large'] = a2['freq']
coll['ratio'] = coll['small']/coll['large']
coll['srel'] = coll.small/coll.small.sum()
coll['lrel'] = coll.large/coll.large.sum()
coll['ratio_rel'] = coll.srel/coll.lrel
coll['nb'] = coll.small/tot.tot

In [28]:
coll[coll.small > 3].sort_values(by='ratio_rel', ascending=False)

         small  large     ratio      srel      lrel  ratio_rel            nb
søndag     4.0    4.0  1.000000  0.000179  0.000097   1.835751  9.909698e-06
mette      4.0    4.0  1.000000  0.000179  0.000097   1.835751  5.451299e-05
ris        4.0    4.0  1.000000  0.000179  0.000097   1.835751  1.537504e-05
frukten    4.0    4.0  1.000000  0.000179  0.000097   1.835751  5.227801e-05
Hatch      4.0    4.0  1.000000  0.000179  0.000097   1.835751           NaN
...        ...    ...       ...       ...       ...        ...           ...
være      11.0   56.0  0.196429  0.000491  0.001362   0.360594  3.056161e-07
vært       7.0   36.0  0.194444  0.000312  0.000875   0.356952  4.572519e-07
over       8.0   52.0  0.153846  0.000357  0.001264   0.282423  2.132212e-07
ned        5.0   38.0  0.131579  0.000223  0.000924   0.241546  3.642209e-07
gjøre      4.0   31.0  0.129032  0.000179  0.000754   0.236871  3.514662e-07

[521 rows x 7 columns]

In [27]:
coll[coll.small > 4].sort_values(by='nb', ascending=False)

           small  large     ratio      srel      lrel  ratio_rel            nb
lunsj      363.0  373.0  0.973190  0.016202  0.009069   1.786535  1.512695e-03
middag     517.0  528.0  0.979167  0.023075  0.012837   1.797506  7.978420e-04
frokost    165.0  173.0  0.953757  0.007364  0.004206   1.750861  5.913449e-04
kveldsmat   19.0   20.0  0.950000  0.000848  0.000486   1.743963  5.754786e-04
pizza       20.0   22.0  0.909091  0.000893  0.000535   1.668864  4.144906e-04
...          ...    ...       ...       ...       ...        ...           ...
:           18.0   49.0  0.367347  0.000803  0.001191   0.674357  1.480552e-07
"            5.0   12.0  0.416667  0.000223  0.000292   0.764896  8.740675e-08
(            5.0    7.0  0.714286  0.000223  0.000170   1.311251  3.336693e-08
frokost,     6.0    6.0  1.000000  0.000268  0.000146   1.835751           NaN
middag.      5.0    5.0  1.000000  0.000223  0.000122   1.835751           NaN

[411 rows x 7 columns]

In [34]:
a1.sort_values(by='ascore', ascending=False)[:30]

                freq  dist  score    ascore
kveldsmat       19.0  1.00   1.11  2.252252
lunsj          363.0  1.12   1.13  2.212389
middag         517.0  1.17   1.17  2.136752
aftens          20.0  1.09   1.19  2.100840
pizza           20.0  1.28   1.37  1.824818
kaker            5.0  1.00   1.40  1.785714
middag.          5.0  1.00   1.40  1.785714
frokost        165.0  1.40   1.41  1.773050
kake             7.0  1.17   1.43  1.748252
lunch            9.0  1.29   1.48  1.689189
frokost,         6.0  1.30   1.58  1.582278
skikkelig        6.0  1.33   1.61  1.552795
is               4.0  1.17   1.63  1.533742
disse            7.0  1.43   1.65  1.515152
formiddagsmat    3.0  1.00   1.67  1.497006
midt             3.0  1.00   1.67  1.497006
pølse            3.0  1.00   1.67  1.497006
snegler          3.0  1.00   1.67  1.497006
frokost.         3.0  1.00   1.67  1.497006
suppen           3.0  1.00   1.67  1.497006
rått             3.0  1.00   1.67  1.497006
regelmessig      3.0  1.00   1.67  1.497006
småkaker         3.0  1.00   1.67  1.497006
hjemmelaget      3.0  1.00   1.67  1.497006
biff             4.0  1.25   1.69  1.479290
desserten        4.0  1.25   1.69  1.479290
cornflakes       4.0  1.25   1.69  1.479290
rå               5.0  1.38   1.70  1.470588
isen             5.0  1.40   1.72  1.453488
ferskt           4.0  1.33   1.75  1.428571

In [35]:
a2.sort_values(by='ascore', ascending=False)[:30]

              freq  dist  score    ascore
middag       528.0  1.28   1.29  3.875969
aftens        20.0  1.09   1.31  3.816794
lunsj        373.0  1.34   1.35  3.703704
kveldsmat     20.0  1.40   1.60  3.125000
frokost      173.0  1.76   1.78  2.808989
kake           7.0  1.17   1.79  2.793296
pizza         22.0  1.68   1.85  2.702703
middag.        5.0  1.00   1.90  2.631579
frokost,       6.0  1.30   2.00  2.500000
skikkelig      6.0  1.33   2.02  2.475248
sen           10.0  1.70   2.08  2.403846
lunsjen        7.0  1.57   2.13  2.347418
isen           5.0  1.40   2.22  2.252252
is             4.0  1.17   2.25  2.222222
cornflakes     4.0  1.25   2.31  2.164502
først         33.0  2.29   2.39  2.092050
suppe         13.0  2.17   2.43  2.057613
dessert        4.0  1.50   2.50  2.000000
frokost.       3.0  1.00   2.50  2.000000
småkaker       3.0  1.00   2.50  2.000000
gratis         4.0  1.50   2.50  2.000000
hjemmelaget    3.0  1.00   2.50  2.000000
snegler        3.0  1.00   2.50  2.000000
regelmessig    3.0  1.00   2.50  2.000000
lunch         10.0  2.25   2.58  1.937984
sammen       376.0  2.66   2.67  1.872659
kjøttet        6.0  2.12   2.68  1.865672
kniv           5.0  2.00   2.70  1.851852
måltider       5.0  2.00   2.70  1.851852
ris            4.0  1.83   2.75  1.818182

In [36]:
coll['combo'] = a1.ascore*a2.ascore

In [42]:
coll['mass_dist'] = coll.combo * coll.ratio_rel

In [58]:
coll.sort_values(by='mass_dist', ascending=False)[['nb', 'combo', 'mass_dist']][:10].fillna(0).style.background_gradient()

In [66]:
top10 = coll.sort_values(by='mass_dist', ascending=False)[['nb', 'combo', 'mass_dist']][:10]

In [74]:
top10['eng'] = ''
top10['eng'] = ['dinner', 'supper (alt)', 'lunch', 'supper', 'cake', 'breakfast', 'dinner',
       'pizza', 'breakfast.', 'proper']

In [78]:
top10 = top10[['eng', 'nb', 'mass_dist']].fillna(0)

In [79]:
top10

                    eng        nb  mass_dist
middag           dinner  0.000798  14.886919
aftens     supper (alt)  0.000403  14.719922
lunsj             lunch  0.001513  14.638931
kveldsmat        supper  0.000575  12.274517
kake               cake  0.000036   8.964678
frokost       breakfast  0.000591   8.720121
middag.          dinner  0.000000   8.626649
pizza             pizza  0.000414   8.230738
frokost,     breakfast.  0.000000   7.261673
skikkelig        proper  0.000010   7.055804

In [63]:
coll.sort_values(by='mass_dist', ascending=False)[['nb', 'combo', 'mass_dist']][:10].fillna(0).to_csv()

',nb,combo,mass_dist\r\nmiddag,0.0007978419686480514,8.281985026171071,14.886918911274975\r\naftens,0.00040346984062941297,8.018474565398678,14.719922288544861\r\nlunsj,0.0015126953898211852,8.19403474270731,14.638930722116108\r\nkveldsmat,0.0005754785558517082,7.038288288288287,12.274517180648623\r\nkake,3.64126278993555e-05,4.883384771652929,8.964678226203299\r\nfrokost,0.0005913448615715438,4.980476531994581,8.720120782431312\r\nmiddag.,0.0,4.699248120300752,8.626649193839318\r\npizza,0.00041449059106358284,4.931939238508581,8.23073830435\r\n"frokost,",0.0,3.9556962025316453,7.261673055573603\r\nskikkelig,9.640304183731344e-06,3.8435520570690604,7.055804334177659\r\n'

In [62]:
%%HTML
<table border="1" style="border-collapse: separate;" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>nb</th>\n      <th>combo</th>\n      <th>mass_dist</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>middag</th>\n      <td>0.000798</td>\n      <td>8.281985</td>\n      <td>14.886919</td>\n    </tr>\n    <tr>\n      <th>aftens</th>\n      <td>0.000403</td>\n      <td>8.018475</td>\n      <td>14.719922</td>\n    </tr>\n    <tr>\n      <th>lunsj</th>\n      <td>0.001513</td>\n      <td>8.194035</td>\n      <td>14.638931</td>\n    </tr>\n    <tr>\n      <th>kveldsmat</th>\n      <td>0.000575</td>\n      <td>7.038288</td>\n      <td>12.274517</td>\n    </tr>\n    <tr>\n      <th>kake</th>\n      <td>0.000036</td>\n      <td>4.883385</td>\n      <td>8.964678</td>\n    </tr>\n    <tr>\n      <th>frokost</th>\n      <td>0.000591</td>\n      <td>4.980477</td>\n      <td>8.720121</td>\n    </tr>\n    <tr>\n      <th>middag.</th>\n      <td>0.000000</td>\n      <td>4.699248</td>\n      <td>8.626649</td>\n    </tr>\n    <tr>\n      <th>pizza</th>\n      <td>0.000414</td>\n      <td>4.931939</td>\n      <td>8.230738</td>\n    </tr>\n    <tr>\n      <th>frokost,</th>\n      <td>0.000000</td>\n      <td>3.955696</td>\n      <td>7.261673</td>\n    </tr>\n    <tr>\n      <th>skikkelig</th>\n      <td>0.000010</td>\n      <td>3.843552</td>\n      <td>7.055804</td>\n    </tr>\n  </tbody>\n</table>